<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>THIS IS THE INDEX PAGE</h1>
    <form action="/bills" method="POST" enctype="multipart/form-data">
        <label for="name">name : </label>
        <input type="text" id="name" name="bill[name]">
        <label for="image">Upload images : </label> 
        <input type="file" id="image" name="image">
        <button>Submit</button>
    </form>
</body>
</html>