.menucontainer {
    height: 50px;
    background-color: rgb(183, 247, 145);
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    z-index: 30;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.logoimg {
    height: 100%;
    width: auto;
}


