.menucontainer {
    height: 50px;
    background-color: aliceblue;
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    z-index: 30;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    display: flex;
    flex-direction: row;
}

.logoimg {
    height: 100%;
    width: auto;
}
